{% extends 'base.html' %}

{% block body %}
    <h1 class="jumbotron" style="text-align: center">Welcome To Q & A site </h1>
    <style>
        .list-group a.list-group-item:hover {
            background-color: #6bb7bb;
        }

    </style>

    <div class="container-fluid">
        <h2>Question List </h2>
        <div class="list-group">
            {% for question in object_list %}
                <a href="{% url 'answer:detail' question.pk %}" class="list-group-item "
                   id="lst">{{ question.title }}</a>
            {% endfor %}
        </div>
    </div>


{% endblock %}